<h1>My Shop</h1>

<p><%= link_to 'Sign out', destroy_user_session_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> </p>
<% if user_signed_in? %>
  <%= link_to "Create Shop", new_shop_path %>
<% end %>
